<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Pabu</title>
        <link rel="icon" href="/static/images/pabu-head.png">
    </head>
    <body>
        <div id="body"></div>

        {% for desc in javascript_libraries %}
            <script src="{{desc['url']}}" crossorigin="anonymous" integrity="{{desc['hash']}}"></script>
        {% endfor %}

        <script>
            window.appData = {{data|tojson|safe}}
        </script>
        <script src="/static/bundle.js"></script>
    </body>
</html>
